*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# Android Studio additional
.idea/
*.log

# Keystores
*.jks
*.keystore
*.jks
*.jks.base64
tempowt-*.json
tempowt-*.json
